<% extend("_base/layout") %>

<div class="flex--center">
	<form method="GET" action="/search/q">
		<label>Type
			<select name="type">
				<option value="koop">Koop</option>
				<option value="huur">Huur</option>
			</select>
		</label>
		<label>Stad
			<input type="text" name="city"/>
		</label>
	</form>
</div>
<footer id="footer" class="hidden">
	<form method="GET" action="/search/coords">
		<h2>Huizen dichtbij u</h2>
		<input name="lat" type="hidden" id="lat">
		<input name="long" type="hidden" id="long">
		<label>Type
			<select name="typeLocation">
				<option value="koop">Koop</option>
				<option value="huur">Huur</option>
			</select>
		</label>
		<input type="submit" value="Zoek"/>
	</form>
</footer>