html {
	width: 100%;
	min-height: 100%;
	font-family: sans-serif;
}

html.fonts-loaded {
	font-family: @font-primary;
}

body {
	padding-top: @nav-height;
	margin: 0;
	width: 100%;
	min-height: 100%;

	background: @color-lightest;
	color: @color-darkest;
	font-size: @font-size-base;

	position: relative;
}

.flex--center {
	display: flex;
	height: 100%;
	height: ~"calc(100vh - @{nav-height})";

	justify-content: center;
	flex-direction: column;
}