html {
	width: 100%;
	min-height: 100%;
}

body {
	padding-top: @nav-height;
	margin: 0;
	width: 100%;
	min-height: 100%;

	background: @color-lightest;
	color: @color-darkest;

	font-size: @font-size-base;
	font-family: @font-primary;
}